* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;

    .tape {
        position: absolute;
        top: 20px;
    }

    .tache {
        position: absolute;
        top: 85px;
    }
}